# Auto detect text files and perform LF normalization
* text=auto

# Linguist overrides to ensure GitHub accurately classifies the repository as PHP (WordPress Plugin)
*.php linguist-detectable=true
*.js linguist-detectable=false
